
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* Imports */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: 'Microsoft YaHei';
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; 
  height:auto; 
  overflow:hidden;
}

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

strong, b {
  font-weight: bold; }

em, i {
  font-style: italic; }

a {
  outline: 0; }

a img {
  border: 0px;
  text-decoration: none; }

.fn-left {
  float: left; }

.fn-right {
  float: right; }

.clb {
  clear: both; }

/* Body */
body {
  background-color: #ffffff;
  color: #58595b;
  font-size: 87.5%;
  /* Base font size: 14px */
  margin: 0;
  padding: 0; }

/* font */
@font-face {
  font-family: 'TradeGothicLTStdBold';
  src: url("../font/tradegothicltstd-bold-webfont.eot");
  src: url("../font/tradegothicltstd-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/tradegothicltstd-bold-webfont.woff") format("woff"), url("../font/tradegothicltstd-bold-webfont.ttf") format("truetype"), url("../font/tradegothicltstd-bold-webfont.svg#TradeGothicLTStdBold") format("svg");
  font-style: normal; }

@font-face {
  font-family: 'MyriadProRegular';
  src: url("../font/myriadpro_regular-webfont.eot");
  src: url("../font/myriadpro_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../font/myriadpro_regular-webfont.woff") format("woff"), url("../font/myriadpro_regular-webfont.ttf") format("truetype"), url("../font/myriadpro_regular-webfont.svg#MyriadProRegular") format("svg");
  font-style: normal; }

@font-face {
  font-family: 'TradeGothicLTStdLight';
  src: url("../font/tradegothicltstd-light-webfont.eot");
  src: url("../font/tradegothicltstd-light-webfont.eot?#iefix") format("embedded-opentype"), url("../font/tradegothicltstd-light-webfont.woff") format("woff"), url("../font/tradegothicltstd-light-webfont.ttf") format("truetype"), url("../font/tradegothicltstd-light-webfont.svg#TradeGothicLTStdLight") format("svg");
  font-style: normal; }

@font-face {
  font-family: 'TradeGothicLTStdBdCn20';
  src: url("../font/tradegothicltstd-bdcn20-webfont.eot");
  src: url("../font/tradegothicltstd-bdcn20-webfont.eot?#iefix") format("embedded-opentype"), url("../font/tradegothicltstd-bdcn20-webfont.woff") format("woff"), url("../font/tradegothicltstd-bdcn20-webfont.ttf") format("truetype"), url("../font/tradegothicltstd-bdcn20-webfont.svg#TradeGothicLTStdBdCn20") format("svg");
  font-style: normal; }
@font-face {
  font-family: 'Hanyihei';
  src: url("../font/hanyihei.ttf") format("truetype");
  font-style: normal; }
@font-face {
  font-family: 'Minijanxixingkai';
  src: url("../font/minijanxixingkai.ttf") format("truetype");
  font-style: normal; }
